extends layout
  
block content
    h1= title
    div
      div
      table
        thead
          th Name
          th City
          th Country
          th Birthday
          th Email
          th Phone Number
        tbody
          
          - items.sort((a,b)=>{if(a.name>b.name){return 1}else{return -1}})
          each item in items
            tr
              td #{item.name}
              td #{item.city}
              td #{item.country}
              td #{item.birthday}
              td #{item.email}
              td #{item.phoneNumber}

    form(method="get", action="/")
      button(type="submit") Home
    br
    br
    form(method="post", action="/delete")
      div 
        input#nameDelete(type="text",name="nameDelete")
        label delete a name
      button(type="submit") delete
